<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunnyFMForMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>FunnyFm.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FunnyFmImport.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FunnyFmShare.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MenuBar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NowExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>PerhapsRefreshExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38332A5A24936A34009AC1A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3869AE68253001B400420E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>388CC86524A2307000F257A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C1ABDB24E12A6C00097CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C2122D249717EF0022ECE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F0266125135879002F6F28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB25797821945E6F004C5F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
